.App {
    padding: 0 0.5rem;
}

.btn {
    padding: 5px;
    border: none;
    border-radius: 2px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn--primary {
    background-color: #207fc3;
}

.box {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    margin: 1rem 0;
}

.alert {
    padding: 1rem;
    border: 1px solid;
    border-radius: 5px;
    font-size: 13px;
}

.alert--error {
    background-color: #c914143d;
    color: #a94242;
}

.alert--successful {
    background-color: #0080002e;
    color: #008000bf;
}

.otpmodalcover {
    height: 100vh;
    width: 100%;
    background-color: #a5a1a15e;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otpmodal {
    border: 1px solid #817d7d;
    background-color: white;
    border-radius: 4px;
    min-width: 350px;
    position: relative;
}

button.otpmodal__close {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 27px;
    width: 27px;
    border-radius: 50%;
}

.otpmodal__header {
    border-bottom: 1px solid grey;
    padding: 0 0.5rem;
}

.otpmodal__body {
    padding: 1rem;
}

.otp__modal__body__title {
    margin: 0.5rem 0;
}

.otpmodal__inpgrp {
    display: flex;
    gap: 5px;
    margin: 0.5rem 0;
}

.otpmodal__inpnums {
    width: 30px;
    height: 30px;
    border: 1px solid #817d7d;
    border-radius: 2px;
}

.otpmodal__inpnums::-webkit-outer-spin-button,
.otpmodal__inpnums::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.otpmodal__inpnums--wrng {
    border: 1px solid #c53131;
}

.otpmodal__inpnums--rght {
    border: 1px solid #096209;
}

.otpmodal__inperror {
    color: #c53131;
}

.otpmodal__inpmsg {
    color: #207fc3;
}

.otpmodal__inphelp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.otpmodal__timer {
    color: #c53131;
    font-weight: 500;
    font-size: 14px;
}

.btn:not(:disabled) {
    cursor: grab;
}

.btn--link {
    border: 0;
    color: #1555b7;
    background-color: transparent;
    padding: 0;
    box-shadow:none;
}

.btn--disabled {
    opacity: 0.7;
}

.btn--danger {
    background-color: #c53131;
    color: white;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75rem 0;
}

.loader__pic {
    max-height: 20px;
}

.shorttxt {
    font-size: 14px;
}