.otpmodal {
    border: 1px solid #817d7d;
    border-radius: 4px;
    min-width: 350px;
    position: fixed;
    top: 33%;
    left: 40%;
}

button.otpmodal__close  {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 27px;
    width: 27px;
    border-radius: 50%;
}

.otpmodal__header {
    border-bottom: 1px solid grey;
    padding:0 0.5rem;
}

.otpmodal__body  {
    padding: 1rem;
}

.otp__modal__body__title  {
    margin: 0.5rem 0;
}

.otpmodal__inpgrp {
    display: flex;
    gap: 5px;
    margin: 0.5rem 0;
}

.otpmodal__inpnums {
    width: 30px;
    height: 30px;
    border: 1px solid #817d7d;
    border-radius: 2px;
}

.otpmodal__inpnums--wrng  {
    border: 1px solid #c53131;
}

.otpmodal__inpnums--rght  {
    border: 1px solid #096209;
}

.otpmodal__inperror  {
    color: #c53131;
}

.otpmodal__inphelp  {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.otpmodal__timer  {
    color: #c53131;
    font-weight: 500;
    font-size: 14px;
}

.btn {
    padding: 5px;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
}

.btn--primary  {
    background-color: #207fc3;
    
}

.btn--link {
    border: 0;
    color: #1555b7;
    background-color: transparent;
    padding: 0;
}

.btn--disabled{
    opacity: 0.7;
}

.btn--danger  {
    background-color: #c53131;
    color: white;
}

.shorttxt  {
    font-size: 13px;    
}